<div class="row">
    <div class="col-xs-6">
        <div class="well bs-component">
            <form name="signupForm" class="form-horizontal" ng-submit="$ctrl.submit()" >
                <h1>Sign up for PWS</h1>
                <h5>It only takes a moment</h3> 

                <div ng-show="state==='in-progress'" class="alert alert-warning" role="alert">Please wait, your data is being submitted.</div>
                <div ng-show="state==='success'" class="alert alert-success" role="alert">You have received an e-mail to confirm your registration.</div>
                <div ng-show="state==='error'" class="alert alert-danger" role="alert">Something went wrong. Please try again later.</div>

                <fieldset ng-show="state==='data-entry' || state==='error'">
                    <legend>Please enter your details.</legend>
                    <div class="form-group"  ng-class="{ 'has-error': signupForm.email.$invalid , 'has-success': !signupForm.email.$valid}">
                        <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                        <div class="col-lg-10">
                            <input type="email" tabindex="1" class="form-control" id="inputEmail" placeholder="Email" ng-model="email"  ng-required="true" name="email">
                        </div>
                    </div>
                    <div class="form-group"  ng-class="{ 'has-error': signupForm.password1.$invalid , 'has-success': signupForm.password1.$valid}">
                        <label for="inputPassword1" class="col-lg-2 control-label">Password</label>
                        <div class="col-lg-10">
                            <input type="password" tabindex="2" class="form-control" name="password1" id="inputPassword1" placeholder="New password" ng-change="password1change()" ng-focus="password1focus = true" ng-blur="password1focus = false"  ng-model="password1"  ng-required="true" straight3 iol pairs2 lowercase length32>
                        </div>
                    </div>
                    <div class="popover right password-rules" ng-show="signupForm.password1.$invalid && password1focus"> 
                        <div class="arrow"></div>
                        <h3 class="popover-title">Password rules</h3>
                        <div class="popover-content">
                            <ul>
                                <li  ng-class="{ 'has-error': signupForm.password1.$error.straight3 , 'has-success': !signupForm.password1.$error.straight3}">
                                    <p class="help-block">
                                        <span ng-hide="signupForm.password1.$error.straight3" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                        <span ng-show="signupForm.password1.$error.straight3" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                        Passwords must include one increasing straight of at least three letters, like abc, bcd, cde, and so on, up to xyz.
                                    </p>
                                </li>
                                <li  ng-class="{ 'has-error': signupForm.password1.$error.iol , 'has-success': !signupForm.password1.$error.iol}">
                                    <p class="help-block">
                                        <span ng-hide="signupForm.password1.$error.iol" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                        <span ng-show="signupForm.password1.$error.iol" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                        Passwords may not contain the letters i, o, or l.
                                    </p>
                                </li>
                                <li  ng-class="{ 'has-error': signupForm.password1.$error.pairs2 , 'has-success': !signupForm.password1.$error.pairs2}">
                                    <p class="help-block">
                                        <span ng-hide="signupForm.password1.$error.pairs2" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                        <span ng-show="signupForm.password1.$error.pairs2" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                        Passwords must contain at least two non-overlapping pairs of letters, like aa, bb, or zz.
                                    </p>
                                </li>
                                <li  ng-class="{ 'has-error': signupForm.password1.$error.length32 , 'has-success': !signupForm.password1.$error.length32}">
                                    <p class="help-block">
                                        <span ng-hide="signupForm.password1.$error.length32" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                        <span ng-show="signupForm.password1.$error.length32" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                        Passwords cannot be longer than 32 characters.
                                    </p>
                                </li>
                                <li  ng-class="{ 'has-error': signupForm.password1.$error.lowercase , 'has-success': !signupForm.password1.$error.lowercase}">
                                    <p class="help-block">
                                        <span ng-hide="signupForm.password1.$error.lowercase" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                        <span ng-show="signupForm.password1.$error.lowercase" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                        Passwords can only contain lower case alphabetic characters.
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group"  ng-class="{ 'has-error': signupForm.password2.$invalid , 'has-success': signupForm.password2.$valid}">
                        <label for="inputPassword2" class="col-lg-2 control-label">Confirm password</label>
                        <div class="col-lg-10">
                            <input type="password" tabindex="3" class="form-control" id="inputPassword2" placeholder="Confirm new password" ng-model="password2" name="password2" ng-required="true" ng-pattern="{{signupForm.password1.$viewValue}}">
                            <span class="help-block" ng-show="signupForm.password2.$invalid">The passwords have to match.</span>
                        </div>
                    </div>
                    <div class="form-group"  ng-class="{ 'has-error': signupForm.agree.$invalid , 'has-success': signupForm.agree.$valid}">
                        <div class="col-lg-10">
                            <div class="checkbox">
                                <label for="agree">
                                    <input type="checkbox" tabindex="4" id="agree" name="agree" ng-model="agree" ng-required="true"> I agree to TNT's <a href="http://www.tnt.com/express/en_gb/site/home/terms-conditions.html" target="_blank">terms and conditions</a>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10">
                            <button type="submit" tabindex="5" class="btn btn-primary" ng-disabled="signupForm.$invalid" aria-label="Signup">Next</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="col-xs-6">

    </div>
</div>
